
main {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
main div:nth-of-type(2) {
  margin-bottom: 0 !important;
}

.default-content-wrapper h2 {
  padding: 4rem 0;
  margin-bottom: 0;
}

.section {
  background-color: white;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 0;
  padding-top: 2rem;
}

.cards-wrapper {
  width: 70%;
  margin: 0 !important;
}

.filter-section-wrapper {
  margin: 0 !important;
}

.filter-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

.filter-section > div > div:first-of-type > p:first-child {
  font-weight: 700;
  margin-top: 0;
}

.filter-section > div > div:last-of-type > p {
  font-size: 0.75rem;
}

p {
  line-height: 1.5rem;
}

main .bg-img picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .bg-img img {
  object-fit: cover;
  width: 100%;
}